h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/*name and nav bar*/

.topstuff {
    background:white;
    color: lightgray;
    position: static;
    width: auto;
    padding: 20px;
    height: 65px;
    border-top: 0px;
    border-bottom: 2px solid black
}

#namebox {
    background:cadetblue;
    color: white;
    margin: 20px;
    font-size: 13px;
    box-sizing: border-box;
    float: left;
}

#nav-bar {
    background: white;
    color: lightgrey;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    margin: 25px;
}

/*about me section*/

#index-box {
    clear: both;
    background: green;
    padding: 10px;
    margin: auto;
    width: 965px;
    height: 350px;
}

#mypicture {
transform: rotate(270deg);
float: left;
padding: 30px 0px 0px 30px;
margin: 0px;
z-index: 2;

}
#index-header {
    clear: both;
}

#about-me-section {
    background: blueviolet;
    border: 25px;
    padding: 20px 10px 20px 10px;
    clear: both;
    position: relative;
    text-align: left;
    content: normal;
    margin: 35px;
}

.index-footer {
    clear: both;
    position: relative;
    height: 25px;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    color: #333;
    background-color: #ccc;
    border-top: 30px blue;
}


/*contact page stuff*/

#contact {
    clear: both;
    background: whitesmoke;
    padding: 35px;
}

.form {
    padding: 15px;
    width: 96%;
    margin: 10px;
    position: relative;
}

.form label {
display: block;
}

.form input {
    padding: 20px;
    width: 95%;
    margin: 15px;
}

button {
    background: darkcyan;
    border: 10px;
    border-color: cyan;
}

.box {
    width: 960px;
    text-align: left;
    position: static;
    background-color: whitesmoke;
    margin: 40px auto 0px auto;
    padding-bottom: 0px;
    border: solid cyan 1px;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;  
}